{% extends 'base.html.twig' %}

{% block title %}Lipides | {{ parent() }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
{# <link rel="stylesheet" type="text/css" href="{{asset('css/home.css')}}"> #}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block body %}
<h1>Lipides</h1>
{% endblock %}